Lab 7/Solution/Consuming Web Services/Consuming Web Services/Web References/HealthWebService/HealthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculateBMI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBMIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateBMIResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaloriesBurner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaloriesBurnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaloriesBurnerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateBMISoapIn">
    <wsdl:part name="parameters" element="tns:CalculateBMI" />
  </wsdl:message>
  <wsdl:message name="CalculateBMISoapOut">
    <wsdl:part name="parameters" element="tns:CalculateBMIResponse" />
  </wsdl:message>
  <wsdl:message name="CaloriesBurnerSoapIn">
    <wsdl:part name="parameters" element="tns:CaloriesBurner" />
  </wsdl:message>
  <wsdl:message name="CaloriesBurnerSoapOut">
    <wsdl:part name="parameters" element="tns:CaloriesBurnerResponse" />
  </wsdl:message>
  <wsdl:portType name="HealthServiceSoap">
    <wsdl:operation name="CalculateBMI">
      <wsdl:input message="tns:CalculateBMISoapIn" />
      <wsdl:output message="tns:CalculateBMISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaloriesBurner">
      <wsdl:input message="tns:CaloriesBurnerSoapIn" />
      <wsdl:output message="tns:CaloriesBurnerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HealthServiceSoap" type="tns:HealthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateBMI">
      <soap:operation soapAction="http://tempuri.org/CalculateBMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaloriesBurner">
      <soap:operation soapAction="http://tempuri.org/CaloriesBurner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HealthServiceSoap12" type="tns:HealthServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateBMI">
      <soap12:operation soapAction="http://tempuri.org/CalculateBMI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaloriesBurner">
      <soap12:operation soapAction="http://tempuri.org/CaloriesBurner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HealthService">
    <wsdl:port name="HealthServiceSoap" binding="tns:HealthServiceSoap">
      <soap:address location="http://localhost:51831/HealthService.asmx" />
    </wsdl:port>
    <wsdl:port name="HealthServiceSoap12" binding="tns:HealthServiceSoap12">
      <soap12:address location="http://localhost:51831/HealthService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>